body {
  font-family: sans-serif;
  margin: auto;
  max-width: 800px;
  
}

.navbar {
  background-color: #313236;
  color: #FFFFFF;
  border-radius: 2px;
  padding: 10px;
  line-height: 1.6;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.main {
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.custom-line {
  width: 100px; 
  height: 1px;
  background-color: #999;
  border: none;
  margin: 10px auto;
}

a:hover {
  color: #060;
  transition: color 0.3s ease;
}

.footer {
  font-size: 10px;
  text-align: center;
  padding: 10px 0;
}
